:root {
  --nav-color: rgb(50, 76, 117);
  --webBG-color: rgb(96, 124, 168);
  --heading-color: rgba(245, 231, 198, 0.9);
}

/* Reset */
body, h1, h2, h3, h4, h5, h6, div, p, img, section, nav, footer {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


/* Hero Section Defaults */
section.hero-section {
  padding: 5% 0;
  background-color: var(--webBG-color);
  font-size: 103%;
  color: rgba(245, 231, 198, 0.7);
}

/* NavBar background color*/
.navbarbg-color {
  background-color: var(--nav-color) !important;
}

/* github menu color */
.gitHubbg-color a {
  color : white;
}

/* github menu background color and color on hover */
.gitHubbg-color a:hover {
  background-color: var(--webBG-color);
  color: var(--heading-color) !important;
}

/* My Logo */
.icon::before {
  content: 'RB';
  display: inline;
  font-size: 115%;
  font-weight: bolder;
  background-color: purple;
  line-height: 2;
  border-radius: 30%;
  padding: 2.5%;
  font-style: italic;
}

/* Creative Solutions */
.brand-title {
  font-size: 1.3rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  line-height: 1;
}

/* Insert Text by Robert */
.brand-title::after {
  content: 'by Robert';
  display: inline-flex;
  font-size: 90%;
  font-style: italic;
}

.hero-section {
  padding-bottom: 10.5%;
}


/* Hero Text */
.hero-title {
  font-size: 225%;
  line-height: 1.5;
  font-weight: bolder;
  font-family: 'Macondo', cursive;
}

/* Blue line under hero text */
.blueLine:after {
  content: '';
  display: block;
  border: 2px solid var(--nav-color);
  border-left: transparent;
  border-right: transparent;
  width: 20%;
  margin: 10px auto;
}

/* Hero Subtitle */
.hero-subtitle {
  margin-top: 3%;
  margin-bottom: 7%;
}

/* Hero List */
[class*='list'] {
  background-color: var(--webBG-color);
  font-size: 103%;
  color: rgba(245, 231, 198, 0.7);
}

/* Hero Image */
.hero-image {
  margin-left: 7%;
}
